<p id="notice"><%= notice %></p>
<h6>Use filters to locate food items around you</h6>



<%= search_form_for @search do |f| %>

<div class="row">
  <div class="large-8 columns">
    <%= f.select :meal_eq, options_for_select([['breakfast, lunch or snack?', ''], ['breakfast'], ['lunch'], ['snack']], :selected => :product_meal) %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.label :name_cont, "Name contains" %>
  </div>  
  <div class="small-8 columns"> 
<!--<div style="width:50%" > -->
      <%= f.text_field :name_cont, :placeholder => "eg. berry, tomato, croissant..." %>
  </div>
</div>  


<div class="row">
  <div class="small-6 columns">
    <%= f.label :cal_gteq, "Calories between" %>
    <%= f.text_field :cal_gteq %>
  </div>
  <div class="small-6 columns">
    <%= f.label :cal_lteq, "and" %>
    <%= f.text_field :cal_lteq %>
  </div>  
</div>

<div class="row">
  <div class="small-4 columns">
    <%= f.label :veg_true, "Vegetarian" %>
    <%= f.check_box :veg_true %>
  </div>  
  <div class="small-4 columns">  
    <%= f.label :lowCarb_true, "Low Carb" %>
    <%= f.check_box :lowCarb_true %>
  </div>  
  <div class="small-4 columns">  
    <%= f.label :hiProt_true, "High Protein" %>
    <%= f.check_box :hiProt_true %>  
  </div>  
</div>


  <div class="actions"> <%= f.submit "show me food" %>   </div>
  <div> <%= @products.all.length %> products</div>

<% end %>



<div class="scroll">
<table>
  <thead>
    <tr>
    <div class="row">
      <div class="large-6 medium-6 small-6 columns">
        <th colspan="">Product</th>
      </div>  
      <div class="large-4 medium-4 small-4 columns">  
        <th>Diets</th>
      </div>
      <div class="large-2 medium-2 small-2 columns">  
        <th><%= sort_link @search, :cal, "Calories" %></th>
      </div>
      <div class="large-4 medium-4 small-4 columns">  
        <th>from</th>
      </div>  
    </div>  
    </tr>  
    <!-- <th>Meal</th> --> 
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
    <div class="row">  
      <div class="large-6 medium-6 small-6 columns">
        <td><%= link_to product.name, product %> (<%= product.category %>)</td>
      </div>  
      <div class="large-4 medium-4 small-4 columns">
        <td> 
        <% if (product.veg == false) %>
          <%= '' %>
        <% else %>
          <%= 'Veg ' %>
        <% end %> 
        <% if (product.lowCarb == false) %>
          <%= '' %>
        <% else %>
          <%= 'LoCarb ' %>
        <% end %>
        <% if (product.hiProt == false) %>
          <%= '' %>
        <% else %>
          <%= 'HiProtein ' %>
        <% end %> 
        </td>
      </div>  
<!--  <td><%= product.cal %> </td>-->  
<!--  <td><%= product.lowCarb %></td> -->
<!--  <td><%= product.hiProt %></td> -->
      <div class="large-2 medium-2 small-2 columns">
        <td> <%=product.cal%></td>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <td> <%= product.locations.first.name %> </td> 
      </div>
    </div>
    </tr>
    <% end %>

  </tbody>
</table>
</div>



<%= link_to 'New Product', new_product_path %>
