<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>

      <br/>

      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Meal:</strong>
        <%= @product.meal %>
      </p>
      <p>
        <strong>Calories:</strong>
        <%= @product.cal %>
        <strong>Carbs:</strong>
        <%= @product.carbs %>
        <strong>Sugar:</strong>
        <%= @product.sugar %>
        <strong>Protein:</strong>
        <%= @product.protein %>
      </p>

      <p>
        <strong>Veg:</strong>
        <%= @product.veg %>
        <strong>Lowcarb:</strong>
        <%= @product.lowCarb %>
        <strong>Hiprot:</strong>
        <%= @product.hiProt %>
      <p>
        <strong>Location:</strong>
        <%= @product.locations.all.first.name %>
        <%= @product.locations.all.first.streetPostcode %>
      
      </p>



