<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Streetpostcode:</strong>
  <%= @location.streetPostcode %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @location.geolocation %>
</p>

<p>
  <strong>Product:</strong>
  <%= @location.product_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
