<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>


  <%= render "menu" %> 



  <section id="main-content" class="main-content">


    <div class="large-4 medium-6 small-12 columns" >
      <%= yield %>
    </div>
      <div id="map" class="large-8 medium-6 small-12 columns" >
    </div>
      
</section>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
async defer></script>

<footer>
  <p>CONTENT</p>
</footer>

</html>

