<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Veg:</strong>
  <%= @user.veg %>
</p>

<p>
  <strong>Lowcarb:</strong>
  <%= @user.lowCarb %>
</p>

<p>
  <strong>Hiprot:</strong>
  <%= @user.hiProt %>
</p>

<p>
  <strong>Product:</strong>
  <%= @user.product_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
